<div class="container">
  <table>
    <thead>
      <th>Job</th>
      <th>Titulo</th>
      <th>Categoria</th>
      <th>Participantes</th>
      <th>Finalizado</th>
    </thead>
    <rbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </rbody>
  </table>
</div>
